CREATE DATABASE bot_configurations;

USE bot_configurations;

CREATE TABLE user_configs (
    user_id BIGINT PRIMARY KEY,
    bot_key VARCHAR(255),
    livepix_key VARCHAR(255)
);

CREATE TABLE user_packages (
    user_id BIGINT,
    package_name VARCHAR(255),
    package_value DECIMAL(10, 2),
    PRIMARY KEY (user_id, package_name),
    FOREIGN KEY (user_id) REFERENCES user_configs(user_id)
);
